h1 {
    color:red;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    flex: 0 0 32%;
    text-align: center;
    text-align: center;
    border-style: dashed;
    background-color: violet;
}

@media only screen and (max-width: 600px){
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        grid-template-columns: 200px,200px,10px;
    }

    .item {
        flex: 0 0 32%;
        text-align: center;
        border-style: solid;
        background-color: purple;
    }
}

@media only screen and (max-width: 1200px){
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        grid-template-columns: 400px,400px,40px;
    }

    .item {
        flex: 0 0 32%;
    }
}